.container-smash1 {
    width: 200px;
    top: 0;
    margin: 10px;
    position: fixed;
    z-index: 4;
    background-color: red;
    margin-left: 57px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    box-shadow: 1px 4px 10px yellow;
}

#smash1 {
    width: max-content;
    font-family: "Ga Maamli";
    margin: 2px;
    margin-left: 8px;
    width: 18%;
    color: yellow;
    text-align: center;
    font-size: 70px;
    text-shadow: 2px 4px 10px black;
    
}

.cont-smash2 {
    width: 250px;
    font-family: "Ga Maamli";
    margin-top: -278px;
    position: fixed;
    z-index: 5;

}

#smash2 {
    
    width: max-content;
    margin: 2px;
    margin-left: 65px;
    color: red;
    width: 18%;
    text-align: center;
    font-size: 70px;
    text-shadow: 1px 2px 10px black;
    
}

.cont-logo-bgpizz img {
    width: 200px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;

}

.cont-logo-bgpizz {
    display: inline-block;
    width: max-content;
    position: fixed;
    top: 80px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 3;
    margin-left: 3%;
    cursor: pointer;
}

.cont-bgpizz {
    /*display: none;*/
    background-color: red;
    width: 200px;
    position: relative;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    z-index: 2;
    box-shadow: 1px 2px 10px yellow;
}

.cont-logo-bgpizz:hover .cont-bgpizz {
    /*display: block;*/
    
}

#logo-burguer {
    color: green;
    text-shadow: 2px -6px 4px yellow;
    font-size: 45px;
    font-family: "Ga Maamli";
    text-align: center;
    margin: 0;
}

#logo-pizza {
    color: white;
    font-weight: bold;
    font-family: "Tangerine";
    font-size: 40px;
    margin-left: 60%;
    position: relative;
    width: max-content;
}