.nav-bar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 79%;
    top: 10px;
    margin-left: 15%;
    position: fixed;
    z-index: 6;
    background-color: red;
    padding: 20px;
    border-radius: 20px;
}

.cont-pizzas, .cont-hotdog, .cont-bebidas, .cont-burguers, .cont-patacon, .cont-variados {
    margin: 4px;
    cursor: pointer;
    width: max-content;
    border-radius: 100%;
    box-shadow: 2px 5px 8px yellow;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
}

.cont-burguers {
    background-image: url(../images/burguer.png);
}

.cont-pizzas {
   background-image: url(../images/sm1.jpg); 
}

.cont-hotdog {
    background-image: url(../images/hotdog.jpg);
}

.cont-bebidas {
    background-color: chocolate;
    /*background-image: url(../images/hotdog.jpg);*/
}
.cont-variados {
    background-image: url(../images/variados.jpg);
}

.cont-patacon {
    background-image: url(../images/patacon.jpg);
}

.burguers,
.pizzas, .hotdog, .bebidas, .patacon, .variados {
    font-family: "Ga Maamli";
    color: white;
    text-shadow: 2px 4px 4px yellow;
    text-align: center;
    border-radius: 100%;
    width: 70px;
}

.cont-burguers:hover, .cont-bebidas:hover, .cont-pizzas:hover, .cont-hotdog:hover, .cont-patacon:hover, .cont-variados:hover {
    transform: translate(5px, 1px);
    box-shadow: 2px 2px 4px green;
}

.cont-login, .login {
    cursor: pointer;
    width: max-content;
}

.login  {
    color: white;

}

.cont-domicilios {
    box-shadow: 1px 1px 15px yellow;
    width: 79%;
    margin-left: 16%;
    top: 125px;
    background-color: red;
    position: fixed;
    z-index: 6;
}

#domi {
    color: white;
    text-align: center;
}